body{
    background: black;
    font-size: 1em;
    color: white;
}
/* centraliza o container */
#centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
/* formatacao da area de imagem*/
#lampada{
    margin-top: 40px;
    margin-right: 10px;
}
/* formatacao da area dos botoes*/
#acender{
    width: 80px;
}
#apagar{
    width: 80px;
}